<!DOCTYPE html>
<html lang="en" ng-app="polls">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/libs/bootstrap/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/libs/angular.min.js"></script>
        <script src="/javascripts/libs/angular-route.min.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="/javascripts/app.js"></script>
        <script src="/javascripts/controllers.js"></script>
    </body>
</html>
